certifi==2018.8.24
chardet==3.0.4
Django==2.1.2
django-fsm==2.6.0
django-geojson==2.11.0
django-leaflet==0.24.0
googlemaps==3.0.2
gspread==3.0.1
httplib2==0.11.3
idna==2.7
language-selector==0.1
oauth2client==4.1.3
psycopg2==2.7.5
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycurl==7.43.0
pygobject==3.20.0
python-apt==1.1.0b1+ubuntu0.16.4.2
python-debian==0.1.27
python-systemd==231
pytz==2018.5
requests==2.19.1
rsa==4.0
six==1.10.0
ssh-import-id==5.5
ufw==0.35
urllib3==1.23
virtualenv==16.0.0
xlrd==1.1.0
XlsxWriter==1.1.2
