## This is for L2 Bundles
## Here is an example of the data structures to build the config
## l2_bundles = {
##   10: [200, 411, 452, 500, 701, 751],
##   41: [699, 701, 702, 703, 704, 705],
##   42: [700, 701, 702, 703, 704, 705],
##   401: [411, 451, 500],
## }
## description = {
## 10: "L2-TO-FL-TROPIC-BAY-FLR01-MDF-SW1",
## 41: "L2LAG-TO-FL-TROPIC-BAY-FLR01-MDF-CCR1",
## 42: "L2LAG-TO-FL-TROPIC-BAY-FLR01-MDF-CCR2",
## 401: "L2-TO-TROPIC_BAY&FRENCH_VILLAGE_ALU",
## 699: "WIFI-TROPIC-BAY-CCR1-WAN",
## 700: "WIFI-TROPIC-BAY-CCR2-WAN",
## 701: "WIFI-TROPIC-BAY-CCR",
## 702: "WIFI-RESERVED2-CCR",
## 703: "WIFI-RESERVED3-CCR",
## 704: "WIFI-RESERVED4-CCR",
## 705: "WIFI-RESERVED5-CCR",
## }
## interfaces = {
## "Gi0/0/0/8": 10,
## "Gi0/1/0/8": 10,
## "Gi0/0/0/20": 41,
## "Gi0/0/0/21": 41,
## "Gi0/0/0/22": 41,
## "Gi0/0/0/23": 41,
## "Gi0/1/0/20": 42,
## "Gi0/1/0/21": 42,
## "Gi0/1/0/22": 42,
## "Gi0/1/0/23": 42,
## "Te0/0/0/7": 401,
## "Te0/1/0/7": 401,
## }

{% for bundle, vlans in l2_bundles.items() %}
interface Bundle-Ether{{ bundle }}
 {% if bundle in description %}
 description {{ description.get(bundle) }}
 {% endif %}
 bundle minimum-active links 1
 bundle minimum-active bandwidth 620000
 !
 {% for vlan in vlans %}
interface Bundle-Ether{{ bundle }}.{{ vlan }} l2transport
  {% if vlan in description %}
 description {{ description.get(vlan) }}
  {% endif %}
 encapsulation dot1q {{ vlan }}
 rewrite ingress tag pop 1 symmetric
!
 {% endfor %}
{% endfor %}
{% for interface, bundle in interfaces.items() %}
interface {{ interface }}
 {% if bundle in description %}
 description {{ description.get(bundle) }}
 {% endif %}
 bundle id {{ bundle }} mode active
 cdp
 dampening 1 250 950 1
 transceiver permit pid all
!
{% endfor %}
