{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_modify leaflet_tags %}

{% block extrastyle %}
  {% leaflet_css %}
  {% leaflet_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <style>
      .leaflet-container { /* all maps */
        width: 100%;
      }
      .selected_pin {
          width: 30px;
          height: 30px;
          border-radius: 50% 50% 50% 0;
          background: #FF2D00;
          position: absolute;
          transform: rotate(-45deg);
          left: 50%;
          top: 50%;
          margin: -20px 0 0 -20px;
      }
      .selected_pin:after {
          content: "";
          width: 14px;
          height: 14px;
          margin: 8px 0 0 8px;
          background: #e6e6e6;
          position: absolute;
          border-radius: 50%;
      }
      .pin {
          width: 30px;
          height: 30px;
          border-radius: 50% 50% 50% 0;
          background: #00cae9;
          position: absolute;
          transform: rotate(-45deg);
          left: 50%;
          top: 50%;
          margin: -20px 0 0 -20px;
      }
      .pin:after {
          content: "";
          width: 14px;
          height: 14px;
          margin: 8px 0 0 8px;
          background: #e6e6e6;
          position: absolute;
          border-radius: 50%;
      }
   </style>
{% endblock %}
1
{% block bodyclass %}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> › <a href="/admin/geomap">Geomap</a> › Properties
</div>
{% endblock %}

{% block search %}{% endblock %}
{% block date_hierarchy %}{% endblock %}
{% block pagination %}{% endblock %}

{% block object-tools-items %}{{ block.super }}
    <li>
        <a href="{% url 'admin:geomap_property_changelist' %}" class="grp-state-focus golink">List View</a>
    </li>
{% endblock %}

{% block result_list %}
<div id="toolbar">
    <form id="changelist-search" method="get">
<div><!-- DIV needed for valid HTML -->
<label for="searchbar"><img src="/static/admin/img/search.svg" alt="Search"></label>
<input type="text" size="40" name="addr" value="" id="searchbar" autofocus="">
    <button id="address">Search</button>
    <div class="form-row" id="results">
    </div>
</div>
</form>
</div>
{% leaflet_map "main" callback="main_map_init" %}
<script type="text/javascript">

        const selected_icon = L.divIcon({
              iconAnchor: [2, 25],
              labelAnchor: [-6, 0],
              popupAnchor: [0, -40],
              html: `<div class="selected_pin" />`
            })
        const icon = L.divIcon({
              iconAnchor: [2, 25],
              labelAnchor: [-6, 0],
              popupAnchor: [0, -40],
              html: `<div class="pin" />`
            })

        $("#address").click(function(event){
            event.preventDefault()
            var inp = document.getElementById("searchbar");
            $.getJSON('https://nominatim.openstreetmap.org/search?format=json&limit=5&q=' + inp.value, function(data) {
                var items = [];

                $.each(data, function(key, val) {
                  items.push(
                    "<li><a href='#' onclick='chooseAddr(" +
                    val.lat + ", " + val.lon + ");return false;'>" + val.display_name +
                    '</a></li>'
                  );
                });
                $('#results').empty();
                if (items.length != 0) {
                  $('<p>', { html: "Search results:" }).appendTo('#results');
                  $('<ul/>', {
                    'class': 'my-new-list',
                    html: items.join('')
                  }).appendTo('#results');
                } else {
                  $('<p>', { html: "No results found" }).appendTo('#results');
                }
              });
              event.stopPropagation();
        });


        function chooseAddr(lat, lng, type) {
          var location = new L.LatLng(lat, lng);

          if (window.marker) {
            window.map.removeLayer(window.marker);
          }
          window.marker = new L.Marker(location, {icon: selected_icon});
          window.map.addLayer(window.marker);
          window.marker.bindPopup("<b>Here it is!</b>").openPopup();
          window.map.panTo(location);
          if (type == 'city' || type == 'administrative') {
            window.map.setZoom(11);
          } else {
            window.map.setZoom(13);
          }
        }


        $(window).on("resize", function () {
            $("#main").height($(window).height()*0.8);
            map.invalidateSize();
        }).trigger("resize");

        function main_map_init (map, options) {

            var popup = L.popup()

            {% for property in properties %}
              var lon = "{{ property.location.x }}";
              var lat = "{{ property.location.y }}";
              {% if forloop.first %}
                window.map = map.setView([lat, lon], 15);
              {% endif %}
              L.marker([lat, lon], {icon: icon}).addTo(map).bindPopup(`{{ property.popup_desc|safe }}`);

              {% for feed in property.feeds.all %}
                L.polyline([[[lat, lon], [{{ feed.location.y }}, {{ feed.location.x }}]]]).addTo(map).bindPopup(`{{ property.link|safe }} <-> {{ feed.link|safe }}`);
              {% endfor %}
            {% endfor %}
            var polyline = L.polyline({{ gpon_feeds|safe }}, {color: 'green'}).addTo(map);
            L.polylineDecorator(polyline, {
            patterns: [
                {offset: '50%', repeat: 0, symbol: L.Symbol.arrowHead({pixelSize: 25, polygon: false, pathOptions: {stroke: true}})}
            ]}).addTo(map);
        }
</script>
{% endblock %}